@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&family=Moirai+One&display=swap');


/* default styling start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;    
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

button {
    background-color: inherit;
    color: inherit;
    border: 0;
}
/* default styling end */


body {
    background-image: url("/assets/media/background-abstract.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    position: relative;
    display: flex;     
    /* display: none;  */
    color: white;
}

.navbar-toggle {
    display: none;
    background-color: #171717;
}

.nav-items {
    display: flex;
    width: 100%;
}

.nav-tab {
    background-color: #171717;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 50%;
    /* padding: 7.5px 0; */
}

.nav-link, .navbar-toggle, #history li, #favorites li, .clear {
    padding: 7.5px 20px;
}


.nav-link:hover {
    background-color: #282828;
}

.navbar-toggle:hover, #history li:hover, #favorites li:hover {
    background-color: #171717;
}

/* dropdown */
.dropdown {
    display: none;
    flex-direction: column;
    justify-content: center;
    background-color: #282828;
    text-align: center;
    padding: 7.5px 10px;

    /* prevents shifting lower content */
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 999;    
}    

.history-dropdown {
    left: 0;
}

.favorites-dropdown {
    right: 0;
}

.dropdown ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


circle {
    /* fill: #ff2646; */
    stroke: #000;
    stroke-width: 2;
}

.deleteBtn {
    /* display: inline; */
    display: none;
}


.content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1 {
    margin: 20px 0 30px;
    text-align: center;   
    font-family: 'Moirai One', cursive;
    font-size: 2.5rem;
    text-shadow: 0 0 8px #ffffff;
    overflow-wrap: word-break;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}


#img-cont img {
    object-fit: cover;
    border-radius: 50%;
    height: 350px;
    width: auto;
    margin-bottom: 30px;
    aspect-ratio: 1 / 1;    
}

/* hide default file input*/
#upload {
    display: none;
}

.info-box {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    color: #000;
    padding-bottom: 15px;
    border-radius: 5px;
    margin: 0 auto 20px;
    width: 65%;
    box-shadow: 0 0 5px #ffffff;
    opacity: 0.5;
}

.gen-color {
    display: none;
}

.gen-color, label {
    font-family: 'Courier New', Courier, monospace;    
    font-size: 1.5rem;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    margin: 0 auto 30px;
    padding: 5px;
    width: 65%;
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0 0 5px #ffffff;
}  

/* hex code */
p {
    font-size: 1.75rem;
    margin: 10px 0 20px 0;
    text-shadow: 0 0 1px #ffffff;
}

.add-favorite {
    font-size: 1em;
}

.add-favorite:hover #add-favorite {
    text-decoration: underline;
}

.add-favorite:hover .fa-heart {
    color: #ff2646;
}



/* media queries*/
@media only screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }

    .navbar-toggle {
        display: block;
    }   

    .nav-items {
        display: none;
        position: absolute;
        top: 100%;
        flex-direction: column;
        justify-content: center;      
    }

    .nav-tab {
        /* display: none; */
        flex-direction: column;
        width: 100%;        
    }

    .dropdown {
        position: relative;
        width: 100%;
    }

        #img-cont img {
        height: 250px;
     }
}